.spacerBlock{
	display: inline-block;
	width: 31.25%;
	margin: -20px;
	height: 12.5vw;
}
.numberBlock{
	display: inline-block;
	vertical-align: top;
    font-family: Georgia;
	color: rgb(229,229,229);
	text-align: center;
    font-size: 100%;
    width: 12.5%;
    height: 12.5vw;
    margin: 10px;
	background-color: rgb(5, 5, 5)
}